{% extends "base.html" %}

{% block title %}Tienda | VINILDUMB{% endblock %}

{% block content %}

<section>
    <div class="encabezado-seccion">
        <div>
            <p class="etiqueta">VINILDUMB</p>
            <h1>Nuestro catalogo de vinilos</h1>
            <p>Elige un vinilo y agrega la cantidad que necesitas al carrito.</p>
        </div>

      {% if user.is_superuser %}
        <a class="boton boton-secundario" href="{% url 'productos:crear' %}">
            Administrar productos
        </a>
      {% endif %}
    </div>

    <div class="productos-grid">

        {% for producto in productos %}

            <article class="tarjeta-producto"
            data-estilo = "{{producto.estilo | lower}}"
            data-nombre="{{producto.nombre}}"
            data-descripcion="{{producto.descripcion}}"
            data-audio="{% if producto.audio_preview %}{{producto.audio_preview.url}}{% endif %}"
            data-imagen-izq="{% if producto.imagen_izquierda %}{{ producto.imagen_izquierda.url }}{% endif %}"
            data-imagen-der="{% if producto.imagen_derecha %}{{ producto.imagen_derecha.url }}{% endif %}">
                {% if producto.imagen %}
                    <img
                        src="{{ producto.imagen.url }}"
                        alt="{{ producto.nombre }}"
                        class="imagen-producto"
                    >
                {% else %}
                    <div class="imagen-vacia">
                        Sin imagen
                    </div>
                {% endif %}

                <button type="button" class="btn-detalles">Ver detalles y escuchar</button>

                <div class="producto-contenido">

                    <h2>{{ producto.nombre }}</h2>

                    <p class="precio">
                        Q {{ producto.precio|floatformat:2 }}
                    </p>

                    <p class="inventario">
                        Disponibles: {{ producto.cantidad_disponible }}
                    </p>

                    {% if producto.cantidad_disponible > 0 %}
                        <form action="{% url 'carrito:agregar' producto.id %}" method="post">
                            {% csrf_token %}
                            
                            <label for="cantidad-{{ producto.id }}">
                                Cantidad
                            </label>

                            <input
                                id="cantidad-{{ producto.id }}"
                                type="number"
                                name="cantidad"
                                value="1"
                                min="1"
                                max="{{ producto.cantidad_disponible }}"
                                required
                            >

                            <button type="submit" class="boton boton-principal">
                                Agregar al carrito
                            </button>
                        </form>
                    {% else %}
                        <p class="agotado">
                            Producto agotado
                        </p>
                    {% endif %}

                {%if user.is_superuser%}

                    <div class="acciones">
                        <a
                            class="boton boton-secundario"
                            href="{% url 'productos:editar' producto.pk %}"
                        >
                            Editar
                        </a>

                        <a
                            class="boton boton-peligro"
                            href="{% url 'productos:eliminar' producto.pk %}"
                        >
                            Eliminar
                        </a>
                    </div>
                    {% endif %}

                </div>
            </article>

        {% empty %}

            <p>No hay productos registrados.</p>

        {% endfor %}

        <dialog id="modal-producto" class="modal-vinilo">

            <div class="disposicion-modal">

                <div class="contenedor-decorativo">
                    <img id="img-modal-izq" src="" alt="Arte Izquierda" class= "img-lateral">
                </div>

                <div class="contenido-modal">
                    <button id="btn-cerrar-modal" class="btn-cerrar">&times;</button>
                    <h2 id="modal-nombre"></h2>
                    <p id="modal-descripcion"></p>

                    <div id="contenedor-audio" style="display: none;">
                        <p><strong>Vista Previa del Tema Principal:</strong>
                        <audio id="reproductor-audio" controls preload="none">
                        <source id="audio-source" src="" type="audio/mpeg">
                        Tu navegador no soporta el reproductor de audio. 
                        </audio>
                    </div>
                </div>

                <div class="contenedor-decorativo">
                    <img id="img-modal-der" src="" alt="Arte Derecha" class="img-lateral">
                </div>
                 
            </div>
        </dialog>
</section>
{% endblock %}